

.container {
  padding: 4.5rem 0rem 1rem;

  .grid{
    display: grid;
    gap: 1.25rem;
  
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;

    //Dont general
    position: relative;
    row-gap: 3rem;
    padding-top: 1rem;

    .data {
      text-align: center;
      span, h3 {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
      }

      span {
        display: block;
        color: var(--title-color);
        margin-bottom: .25rem;
      }
      
      h3 {
        color: var(--text-color);
        margin-bottom: 2.5rem;
      }
      
      h1 {
        text-transform: uppercase;
        font-size: var(--biggest-font-size);
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
      }
      .HomeButtons {
        > a {
          border: 3px solid var(--first-color);
        }
      }
    }

    .imageHero{
      justify-self: center;
      width: 290px;
      height: 290px;
      background: linear-gradient(180deg, hsla(var(--first-hue), var(--sat), var(--lig),1), hsla(var(--first-hue), var(--sat), var(--lig), .2));
      border-radius: 10rem 10rem 10rem 0;
      //display: flex;
      align-items: flex-start;
      justify-content: center;
      overflow: hidden;
      img {
        width: 160px;

      }
    }

    .social, .scroll {
      position: absolute;
    }

    .social {
      //bottom: 1.5rem;
      left: 0;
      display: grid;
      row-gap: .5rem;

        
      a {
        width: max-content;
        background-color: transparent;
        color: var(--second-color);
        padding: .25rem;
        border-radius: .25rem;
        display: flex;
        font-size: 2rem;
        transition: .4s;
  
        &:hover {
          background-color: var(--first-color);
          color: #fff;
        }
      }
      
    }

    .scroll {
      color: var(--first-color);
      right: -1.5rem;
      bottom: 4rem;
      display: grid;
      row-gap: 2.25rem;
      justify-items: center;
       i{
         font-size: 1.25rem;
       }
       span {
         font-size: var(--smaller-font-size);
         transform: rotate(-90deg);
       }
    }
  }
}

/*== Breaks points */

@media screen  and (max-width:320px){
  
  .HomeButtons {
    flex-direction: column;
  }
  .imageHero {
    width: 130px;
  }  
}
@media screen  and (max-width:720px){
  .social {
    bottom: 1.5rem;
  }

  .scroll {
    display: none;
    opacity: 0;
  }
}

@media screen  and (min-width:820px){
  
  .container {  
   
    
    .grid {

      max-width: 100vw;
      row-gap: 0rem;
      padding-top: 0rem;
      .HomeButtons {
        display: none !important;
      }
      .imageHero{
        width: 493px;
        height: 493px;
        border-radius: 20rem 20rem 20rem 0;
        background: linear-gradient(180deg, hsla(var(--first-hue), var(--sat), var(--lig),1), hsla(var(--first-hue), var(--sat), var(--lig), .5));

        img {
          width: 160px;
  
        }
      }

      
    .social {
      z-index: 30 !important;
      position: fixed;
      top: .0rem;
      bottom: none !important;
      left: .5rem;
      display: grid;
      row-gap: .5rem;

      a {
        width: max-content;
        background-color: transparent;
        color: var(--second-color);
        padding: .25rem;
        border-radius: .25rem;
        display: flex;
        font-size: 1.7rem;
        transition: .4s;

        &:hover {
          background-color: var(--first-color);
          color: #fff;
        }
      }

      &::before {
        content: "";
        width: 36px;
        height: 3px;
        background-color: var(--first-color);
        transform: rotate(90deg) translate(16px, 3px);
        margin-bottom: 1rem;
      }
    }
    }
  }
}