.skills{
  padding: 4.5rem 0 1rem;

  span, h2 {
      text-align: center;
  }

  span {
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
  }

  h2 {
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 2rem;
  }


  .grid{
    display: grid;
    gap: 1.25rem;
  
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;

    //Dont general
    row-gap: 2rem;
    padding-top: 1rem;

    .content {
      background-color: var(--container-color);
      padding: 1.5rem;
      border-radius: 1.25rem;
      .title {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        color: var(--first-color);
        text-align: center;
        margin-bottom: 1.5rem;
      }

      .box {
       display: flex;
        justify-content: center;
        column-gap: 2.5rem;

        .group {
          display: grid;
          align-content: flex-start;
          row-gap: 1rem;
          .data {
            display: flex;
            column-gap: .5rem;
            i {
              font-size: 1rem;
              color: var(--first-color)
            }
            div {
              h3 {
                font-size: var(--normal-font-size);
                font-weight: var(--font-medium);
                line-height: 18px;
              }
              span {
                font-size: var(--tiny-font-size);

              }
            }
          }
        }
      }
    }
  }
}